<div class="footer, center">
	<nav>
		<%= link_to 'About', about_path %> |
		<%= link_to 'Contact', contact_path %> |
		<%= link_to 'TOS', tos_path %> |
		<%= link_to 'Privacy_Policy', privacypolicy_path %> |
		<%= link_to 'Help', help_path %> |
	</nav>

</div>
