<header class ="center">	
	<nav>
		<%= link_to 'Updates', updates_path %> |
		<%= link_to 'News', news_path %> |
		<%= link_to 'Reviews', reviews_path %> |
		<%= link_to 'Interviews', interviews_path %> |
		<%= link_to 'Columns', columns_path %> |
		<%= link_to 'Lessons', lessons_path %> |
		<%= link_to 'Forums', forums_path %> |
		<%= link_to 'Contests', contests_path %> |
	</nav>
	<h1 >| <%= link_to 'TabsHaven', root_path%> |</h1><br>
</header>
